@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');

.judul{
    font-family: 'Lemonada', cursive;
}
.carousel .height-img{
    height: 110vh;
}

.gradient-1{
  height: 50px;
  background: linear-gradient(rgb(255, 255, 255) 20%, rgb(99, 99, 99));
}

.gradient-2{
  height: 50px;
  background: linear-gradient(rgb(99, 99, 99) 20%, rgb(255, 255, 255));
}

.tema-1{
    width: 100%;
    min-height: 120vh;
    background-color: rgb(99, 99, 99);
    padding: 100px 0;
}

.center{
  text-align: center;
}

.tema-2{
  width: 100%;
  min-height: 120vh;
  background-color: rgb(255, 255, 255);
  padding: 100px 0;
}
h1 {
    font-size: 80px;
}

hr{
    border-radius: 100%;
    border-bottom: 10px solid;
    border-bottom-color: rgb(255, 255, 255);
}
hr.hr-white{
    border-radius: 100%;
    border-bottom: 10px solid;
    border-bottom-color: rgb(0, 0, 0);
}

hr.hr-1{
  border-radius: 0%;
  border-bottom: 6px solid;
  border-color: rgb(255, 255, 255);
}
hr.hr-2{
  border-radius: 0%;
  border-bottom: 2px solid;
  border-color: rgb(255, 255, 255);
}

.text-1, .text-2{
  font-size: 20px;
}

.text-2-modify{
  text-align: center;
  font-size: 20px;
}
.text-1-modify{
  font-size: 20px;
}
.text-1-modify.under-line{
  text-decoration: underline;
}




/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  h1{
    text-align: center;
    font-size: 60px;
  }
  .text-2-modify{
    text-align: start;
  }
  .text-1-modify{
    text-align: start;
  }
  .center{
    font-size: 10.5px;
  }
    
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  h1{
    text-align: center;
    font-size: 45px;
  }

  .text-1, .text-2{
    font-size: 18px;
    text-align: start;
  }
  .center{
    font-size: 8px;
  }
  
}